<div class="pad">

    <div *ngIf="curp">
        <div class="text">Curp: {{curp}}</div>
        <div class="text">Nombre: {{data[0]}}</div>
        <div class="text">Apellido Paterno: {{data[1]}}</div>
        <div class="text">Apellido Materno: {{data[2]}}</div>
        <div class="text">Sexo: {{data[3]}}</div>
        <div class="text">Nacimiento: {{data[4]}}</div>
        <div class="text">Estado: {{data[5]}}</div>
        <div class="text">Distrito: {{data[6]}}</div>
        <div class="text">Edad: {{showAge}}</div>
    </div>


    <div><button class="btns" (click)="reload()">Reload</button></div>
    <div class="container" *ngIf="!xd">
        <h1> ngx-scanner-qrcode </h1>

        <!-- For select files -->
        <input #file2 type="file" (change)="onSelects2(file2.files)" [multiple]="'multiple'"
            [accept]="'.jpg, .png, .gif, .jpeg'" class="btn btn-success my-2" />
        <br>

        <div *ngFor="let item of qrCodeResult2">
            <img [src]="item.url | safe: 'url'" alt="" style="max-width: 100%">
        </div>

        <div style="width: 50%;">
            <!-- ngx-scanner-qrcode -->
            <ngx-scanner-qrcode #action="scanner" [config]="config"
                (event)="onEvent($event,action,'stop')"></ngx-scanner-qrcode>

            <!-- data  -->
            <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

            <!-- loading -->
            <p *ngIf="action.isLoading">⌛ Loading...</p>

            <!-- start/stop -->
            <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
                [disabled]="action.isLoading">
                <img *ngIf="!action.isStart" (click)="handle(action, 'start')"
                    src="https://img.icons8.com/ios/50/000000/no-camera--v2.png" width="30px" />
                <img *ngIf="action.isStart" (click)="handle(action, 'stop')"
                    src="https://img.icons8.com/ios/50/000000/no-camera--v1.png" width="30px" />
            </button>


        </div>

    </div>
    <hr>
    <div>Tokens</div>
    <div class="pad">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div>
                <label>Numero de tokens a generar: </label>
                <input name="cantidad" ngModel required #first="ngModel">
            </div>
            <div>
                <label>Letra con la que empieza: </label>
                <input name="inicial" ngModel required #first="ngModel" maxlength="1">
            </div>
            <button>Submit</button>
          </form>
    </div>
</div>